<app-user-navbar></app-user-navbar>
<div class="container-fluid">
  <div class="row row-cols">
    <div class="col d-flex align-items-center p-5">
      <div class="d-flex flex-column justify-content-around align-items-around">
        <p id="ribbon">Digital Strategy With Digital Peak</p>
        <h1 class="fw-bold mb-5" style="font-size: 60px;">Drive Result with Degital Solutions</h1>
        <p class="mb-5 text-secondary">
          We provide creative and technical solutions for business to engage
          with their target audience through digital channels
        </p>
        <div>
          <button class="btn btn-success rounded-pill me-3" routerLink="/Deploy">Deploy Resources</button>
          <a class="btn rounded-pill text-white" style="background-color: #7330f9;" href="https://spektrasystems.com/contact-us/" target="_blank">Contact Us</a>
        </div>
      </div>
    </div>
    <div class="col">
      <img src="../../assets/girl-image.png" alt="photo" class="img-fluid" />
    </div>
  </div>
  <div class="container-fluid" style="background-color: #7330f915;">
    <div class="mt-3">
        <h1 class="text-center">Cloud Deployment Services</h1>
    </div>
    <div class="cards-1 row row-cols">
        <div class="col bg-white border m-5 p-3 rounded">
            <div>
            <i class="fa-brands fa-aws fa-2xl p-5 my-4" style="color: #0d6efd; background-color: #0d6dfd20; font-size: 40px; border-radius: 266px 220px 214px 56px;"></i>
            </div>
            <h3 class="">AWS Cloud</h3>
            <p class="text-secondary">A visually appealing & user friendly website can enhance a company's presence increase brand awareness and drive more traffic</p>
            <a class="btn btn-primary" href="https://aws.amazon.com/" target="_blank">Learn More</a>
        </div>
        <div class="col bg-white border m-5 p-3 rounded">
            <div>
                <i class="fa-brands fa-google fa-2xl p-5 my-4" style="color: #3ab094; background-color: #3ab09423; font-size: 40px; border-radius: 266px 220px 214px 56px;"></i>
            </div>
            <h3 class="">GCP Cloud</h3>
            <p class="text-secondary">Google ads is a powerfull and highly effective online advertising platform. It allows users to create and display targeted ads across</p>
            <a class="btn btn-success" href="https://cloud.google.com/" target="_blank">Learn More</a>
        </div>
        <div class="col bg-white border m-5 p-3 rounded">
            <div>
                <i class="fa-solid fa-a fa-2xl p-5 my-4" style="color: #fe7831; background-color: #fe79312e;  font-size: 40px; border-radius: 266px 220px 214px 56px;"></i>
            </div>
            <h3 class="">Azure</h3>
            <p class="text-secondary">Search engine optimization is the practice of optimizing websites to improve their ranking in search engine results pages</p>
            <a class="btn btn-danger" href="https://azure.microsoft.com/en-in" target="_blank">Learn More</a>
        </div>
    </div>
  </div>
  <div class="container-fluid row row-cols-2 p-0 m-0" style="background-color: #fefefe; height: 80vh;">
    <div class="col d-flex flex-column align-items-center justify-content-center w-40">
       <h1 >Our Mission</h1>
       <p style="text-align: center;">Enable immersive content experiences that allow consistent and seamless engagement between content creators and customers through a virtual training platform, an online hands-on learning environment.</p>
    </div>
    <div class="col p-3 w-60">
      <img src="../../assets/our_mission_4x-2048x1291.webp" alt="image" class="img-fluid">
    </div>
  </div>
</div>
<app-footer></app-footer>